<div class="main-container">
    <div class="flex-column-dad">
        <span class="donec-mug">Donec mug</span><span class="price">$ 30</span>
        <div class="crush-stone-mug"></div>
    </div>
    <div class="flex-column-db">
        <span class="let-make-you">Let make you own!</span>
        <div class="line"></div>
        <span class="choose-customise">Choose ‘Customise’ to add a design</span>
        <button class="button-customize" (click)="goToCustomizing()">
        <span class="customize">Customize</span>
        </button>
        <button class="add-to-cart" (click)="addToCart(cosmetic)"><span class="add-to-cart-1">Add to cart</span></button>
        <span class="custom-made">This product is custom-made and excluded from site.</span>
    </div>
</div>