<div class="main-container">
    <span class="shop-celebrate">Shop, Customize and Celebrate with us</span
    ><span class="clayco-by-you">ClayCo by you</span
    ><span class="truly-unique">Looking for something truly unique?</span
    ><span class="design-ceramic-masterpiece"
        >Design your own ceramic masterpiece!<br />Start customizing now and make
        it truly one-of-a-kind.</span
    >
    <div class="flex-row-ac">
        <button class="button-go-customize"></button
        ><span class="start-customizing">Start Customizing</span>
    </div>
    <div class="flex-row">
        <div class="customized-mug"></div>
        <div class="customized-mug-1"></div>
        <div class="reserved-for-aria"></div>
    </div>
    <div class="flex-row-e">
        <span class="product-name">Customized mug by Peter</span
        ><span class="product-name-2">Customized mug by Carolina</span
        ><span class="customized-mug-set">Customized mug set by Emily</span>
    </div>
    <div class="flex-row-a">
        <span class="price">$ 70</span><span class="price-3">$ 65</span
        ><span class="price-4">$ 120</span>
    </div>
    <div class="banner"></div>
    </div>