<div class="footer">
      <!-- Form đăng ký newsletter -->
  <div class="main-container">
    <span class="latest-offers-text">
        STAY UP TO DATE ABOUT OUR LATEST OFFERS
      </span>
    <div class="frame">
        <form class="email-form">
            <div class="input-container">
                <input type="email" class="email-input" placeholder="Enter your email address" required>
              </div>
            <button type="submit" class="submit-button">
              <span class="newsletter-text">Subscribe to Newsletter</span>
            </button>
        </form>
    </div>
    
  </div>

    <div class="footer__content">
        <div>&nbsp;</div>
        <div class="footer__content--infor">
            <div class="footer__content--tem">
                <div class="contact">
                    <img src="assets/images/Logo_footer.png" style="width: 200px; margin-top: 30px;">
                    <br>
                    <br>
                    <p class="spaced-text" style="font-weight: bold;">Our innate desire to connect with nature. It’s in our DNA.</p>
                    
                    <p class="spaced-text"><span>Location: </span>633 Nguyễn Đình Chiểu, P.2, Q.3. HCM</p>
                    <p><span>Email: </span>clayco&#64;gmail.com</p>
                    <img src="assets/images/ncsc.png" style="width: 60px;">
                    &nbsp;
                    <img src="assets/images/bocongthuong.jpeg" style="width: 85px;">
                    &nbsp;
                    <img src="assets/images/dmca.png" style="width: 60px;">
                    &nbsp;
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="footer__content--infor">
            <div class="footer__content--nav">
                <div class="list-link" onclick="window.location ='/app-infor'">
                    <p class="footer__content--title" class="bold">EXPLORE</p>
                    <a [routerLink]="['app-infor', { id: 'beauritystory'}]">FAQs</a>
                    <a [routerLink]="['app-infor', { id: 'ingredientstory'}]">Shipping&Handling</a>
                    <a [routerLink]="['app-infor', { id: 'policydelivery'}]">30-Day Guarantee</a>
                    <a [routerLink]="['app-infor', { id: 'policypayment'}]">Terms of use</a>
                    <a [routerLink]="['app-infor', { id: 'policywarranty'}]">Accessibility Statement</a>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        
        <div>&nbsp;</div>
        <div class="footer__content--logo">
            <div>
                <div class="hotline">
                    <p class="footer__content--title" class="bold">CONTACT CLAYCO</p>
                    <div class="hotline-img">
                        <a href="https://www.facebook.com/beaurityvietnam" target="_blank"><img
                                src="assets/images/fbicon.png"></a>
                        &nbsp;
                        <a href="https://www.instagram.com/beaurity_vn" target="_blank"><img
                                src="assets/images/Instaicon.png"></a>
                        &nbsp;
                        <a href="https://www.tiktok.com/@beaurityvietnam" target="_blank"><img
                                src="assets/images/tiktokicon.png"></a>
                        &nbsp;
                        <a href="https://mail.google.com/mail" target="_blank"><img
                                src="assets/images/Gmailicon.png"></a>
                        &nbsp;
                    </div>
                    <p class="bold">Hotline: 19001052</p>
                </div>
                <div class="logo-payment">
                    <a href="app-payment-banking"><img src="assets/images/napas.png" style="width: 50px;"></a>
                    &nbsp;
                    <a href="app-payment-momo"><img src="assets/images/momo.jpeg" style="width: 20px;"></a>
                </div>
            </div>
        </div>
    </div>

  
</div>
