<div class="container">
    <div class="box-left">
        <div class="navbar">
            <h4>ALL ARTICLES</h4>
            <div class="list">
                <a id="FAQs" [class.active]="id === 'FAQs'" (click)="tabChange('FAQs', $event)"
                    style="cursor: pointer">
                    <p class="list-item">FAQs</p>
                </a>
                <a id="shipping" [class.active]="id === 'shipping'"
                    (click)="tabChange('shipping', $event)" style="cursor: pointer">
                    <p class="list-item">Shipping and Handling</p>
                </a>
                <a id="guarantee" [class.active]="id === 'guarantee'"
                    (click)="tabChange('guarantee', $event)" style="cursor: pointer">
                    <p class="list-item">30-day Guarantee</p>
                </a>
                <a id="privacy" [class.active]="id === 'privacy'"
                    (click)="tabChange('privacy', $event)" style="cursor: pointer">
                    <p class="list-item">Privacy Policy</p>
                </a>
                <a id="termuse" [class.active]="id === 'termuse'"
                    (click)="tabChange('termuse', $event)" style="cursor: pointer">
                    <p class="list-item">Terms of Use</p>
                </a>
                <a id="access" [class.active]="id === 'access'"
                    (click)="tabChange('access', $event)" style="cursor: pointer">
                    <p class="list-item">Accessibility Statement</p>
                </a>
                
            </div>
        </div>
    </div>

    <div class="box_right">
        <div class="right_content" *ngIf="id === 'FAQs'">
            <a class="sub-header">FAQs</a>

            <div class="tiltle-sub-content">
                <p class="sub-header-2">
                    I. About the Beaurity Brand
                </p>
                <p class="content--item">
                    The brand name is a profound combination of "Beauty" and "Purity," symbolizing elegance and purity. Beaurity aspires to create a vegan brand that promotes kindness, safety, and elegance, helping customers find their pure, subtle beauty.
                </p>
                <p class="content--item">
                    With the slogan "Gentle as a leaf – Cherishing every skin," Beaurity strives to make customers feel cared for. Using natural, gentle ingredients that effectively enhance skin health without heaviness, Beaurity aims to ensure each customer feels cherished.
                </p>
                <ul>Contact Information for Beaurity:
                    <li>Company: Beaurity Vegan Cosmetics Co., Ltd</li>
                    <li>Address: 669, QL1, Linh Xuan, Thu Duc, Ho Chi Minh City</li>
                    <li>Toll-free hotline: 077 432 8977</li>
                    <li>Email: support&commat;beaurity.vn</li>
                </ul>

                <p class="sub-header-2">II. Vision of Beaurity</p>
                <p class="content--item">
                    To develop a vegan cosmetic brand from simple daily ingredients and become a leader in the vegan cosmetics market. Beaurity envisions a world where everyone finds natural beauty and inner confidence while fostering a community sharing natural beauty stories and experiences.
                </p>
                <p class="sub-header-2">
                    III. Mission of Beaurity
                </p>
                <p class="content--item">
                    Beaurity's mission is not only to provide safe vegan cosmetics but also to inspire customers towards a pure beauty achieved through holistic self-care. Committed to sustainable production and packaging practices, Beaurity aims to make a positive impact on the planet.
                </p>
            </div>
        </div>

        <div class="right_content" *ngIf="id === 'shipping'">
            <p class="sub-header">BEAURITY | JOURNEY TO FIND INGREDIENTS</p>
            <div class="tiltle-sub-content">
                <p class="sub-header-2">
                    Following Green Footprints - The Journey to Discover New Ingredients
                </p>
                <p class="content--item">
                    The founders' long-standing dream was to create a vegan cosmetics brand with plant-based, safe ingredients. They undertook challenging journeys to discover suitable ingredients for their products, including climbing the 1487m high Ba Na Hills.
                </p>
                <table class="custom-table" style="width:50px">
                    <tr>
                        <td><img src="assets/images/HT1.png" style="width: 250px;"></td>
                        <td><img src="assets/images/HT2.png" style="width: 250px;"></td>
                        <td><img src="assets/images/HT3.png" style="width: 250px;"></td>
                    </tr>
                    <tr>
                        <td><img src="assets/images/HT4.png" style="width: 250px;"></td>
                        <td><img src="assets/images/HT5.png" style="width: 250px;"></td>
                        <td><img src="assets/images/HT6.png" style="width: 250px;"></td>
                    </tr>
                </table>
            </div>

            <table class="custom-table">
                <tr>
                    <img src="assets/images/ingredientstory.png" style="width: 350px;">
                </tr>
            </table>
        </div>

        <div class="right_content" *ngIf="id === 'guarantee'">
            <p class="sub-header">SALES POLICY</p>
            <p class="content--item">
                Beaurity provides nationwide delivery service through its website, Fanpage, and hotline. Orders are dispatched to customer addresses through a third-party courier, identified by a branded logo on the invoice attached to the package.
            </p>
            <div class="tiltle-sub-content">
                <p class="sub-header-2">
                    I. Pricing Policy
                </p>
                <p class="content--item">
                    The listed product prices on the website include taxes, packaging fees, and other associated costs, excluding additional fees confirmed via hotline or email during order processing.
                </p>

                <p class="sub-header-2">II. Delivery Time</p>
                <p class="content--item">
                <ul>
                    <li>Inner-city Ho Chi Minh City: Delivery within 2-3 days after ordering.</li>
                    <li>Suburban Ho Chi Minh City and other provinces: 2-5 days for central city areas and 5-6 days for remote areas.</li>
                    <li>In cases of delivery delays due to holidays, remote locations, or third-party courier issues, we appreciate customer understanding. Beaurity will notify and support customers in such cases.</li>
                </ul>

            </div>
        </div>

        <div class="right_content" *ngIf="id === 'privacy'">
            <p class="sub-header">PAYMENT POLICY</p>
            <div class="content--item">
                Customers can choose one of the following payment methods:
                <br>

                <ul>I. Cash on Delivery (COD):
                    <li>Step 1: Review product information on the website</li>
                    <li>Step 2: Order online, selecting Cash on Delivery</li>
                    <li>Step 3: Beaurity confirms recipient details</li>
                    <li>Step 4: Beaurity dispatches the order to the courier</li>
                    <li>Step 5: Recipient receives, inspects, and pays</li>
                </ul>
                <ul>II. Bank Transfer:
                    <li>Step 1: Review product information on the website</li>
                    <li>Step 2: Order online, selecting Bank Transfer</li>
                    <li>Step 3: Complete bank transfer following third-party instructions</li>
                    <li>Step 4: Beaurity confirms recipient details</li>
                    <li>Step 5: Recipient receives and inspects the order</li>
                </ul>
                <ul>III. Momo Wallet Payment:
                    <li>Step 1: Review product information on the website</li>
                    <li>Step 2: Order online, selecting Momo Wallet Payment</li>
                    <li>Step 3: Complete payment following Momo's instructions</li>
                    <li>Step 4: Beaurity confirms recipient details</li>
                    <li>Step 5: Recipient receives and inspects the order</li>
                </ul>
            </div>
        </div>

        <div class="right_content" *ngIf="id === 'termuse'">
            <p class="sub-header">RETURN AND WARRANTY POLICY</p>
            <p class="content--item">
                Product handling and return policy
            </p>
            <ul>
                <li>
                    If customers are unavailable during delivery, the courier will attempt redelivery (up to 2 attempts). If unsuccessful, Beaurity will refund the order within 15 business days.
                </li>

                <li>
                    For undelivered items due to unreachable customers within 3 days, Beaurity will return the product and notify customers of the canceled order.
                </li>
            </ul>
        </div>

        <div class="right_content" *ngIf="id === 'access'">
            <a class="sub-header">PRIVACY POLICY</a>
            <p class="content--item">
                Beaurity is committed to protecting customer information and privacy per Vietnamese law. This policy helps customers understand Beaurity's practices in data collection, usage, and protection.
            </p>
        </div>
    </div>
</div>
