@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; 
}
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    background: #F6F8FB;
}
.main-left {
    width: 15%;
}
/* -----Cố định--------- */
.main-right {
    background: #F6F8FB;
    width: 85%;
    height: 100vh;
    display: flex;
    padding: 0 38px;
    flex-direction: column;
}
.admin-info {
    display: flex;
    background: #F6F8FB;
    padding: 24px 10px;
    justify-content: flex-end;
}
.admin-ava {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.admin-info .material-symbols-outlined {
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}
.admin-name {
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    text-align: center;
}
.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.page-title p {
    font-weight: bold;
    font-size: 35px;
    color: #8AA3A0;
}
.page-search {
    color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #8AA3A0;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}
#search {
    font-size: 13px;
    border: none;
}
.page-search .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
    color: #8AA3A0;
}

/* --------------------------- */
.page-body {
    padding: 0 10px;
}
.title__main{
    padding-left: 12px;
    padding-bottom: 15px;
    font-size: 18px !important;
}
.orders{
    text-align: center;
    width: 100%;
    margin-left: 0 12px;
}
.orders th{
    border-bottom: 1px solid #ddd;
    height: 40px;
    text-align: center;
    background-color: #8AA3A0;
}
.orders td {
    border-bottom: 1px solid #ddd;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}
.orders tr:nth-child(even) {
    background-color: #8AA3A0
}
.orders tr:hover {
    background-color: #e6f3f1
}
#visual{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #8AA3A0;
}
#delete{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color:#ff6347
}
